# Certificat HTTPS automàtic (Let's Encrypt) per al domini de RADAR_DOMINI
{$RADAR_DOMINI} {
	encode zstd gzip
	request_body {
		max_size 30MB
	}
	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
	}
	reverse_proxy app:8000
}
